* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow: hidden;
    height: 100vh;
    background-color: black;
}

.content {
    width: 80vh;
    display: grid;
    height: fit-content;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.15fr 0.15fr 0.15fr;
    grid-template-areas: 
    "a a"
    "c b"
    "d b";
    grid-gap: 1rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
    /* background-color: rgba(200, 200, 200, 0.9); */
    background: linear-gradient(90deg, rgba(146, 199, 199, 0.9) 0%, rgba(131, 176, 204, 0.9) 100%);
    padding: 2%;
    padding-bottom: 4%;
    border-radius: 12px;
}

#fronttitle, #typetesttitle, #wordleytitle, #caloriecountertitle, #hwplannertitle {
    grid-area: a;
}
#fronttext, #typetesttext, #wordleytext, #caloriecountertext, #hwplannertext {
    grid-area: b;
}
#frontgithub, #typetestgithub, #wordleygithub, #caloriecountergithub, #hwplannergithub {
    grid-area: c;
}
#frontportfolio, #typetestwebsite, #wordleywebsite, #caloriecounterwebsite, #hwplannerwebsite {
    grid-area: d;
}

.one {
    /* background: linear-gradient(90deg, rgba(48,191,181,1) 0%, rgba(70,187,226,1) 100%); */
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
	height: 100vh;
}

.two {
    background-color: rgba(40, 40, 40, 1);
    background-image: url("typetestscreenshot3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.three {
    background-color: rgb(100, 100, 100);
    background-image: url("wordleyscreenshot3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.four {
    background-color: rgb(200, 200, 200);
    background-image: url("caloriecounterscreenshot2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.five {
    background-color: rgb(50, 50, 50);
    background-image: url("hwplannerscreenshot.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 3vh;
}

p {
    font-size: 2.6vh;
}

button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 2vh;
    font-weight: 500;
    height: 6vh;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.js-scroll {
    opacity: 0;
    /* transition: opacity 0.4s ease-in-out; */
    /* border: 2px solid blue; */
}

.js-scroll.scrolled {
    opacity: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media only screen and (max-width: 480px) {
    .content {
        width: 80vw;
        height: 70vw;
        grid-template-columns: 2fr;
        grid-template-rows: 0.15fr 0.15fr 0.15fr 0.15fr;
        grid-template-areas: 
        "a"
        "c"
        "d"
        "b";
        padding: 5%;
    }

    .two, .three, .four, .five {
        background-size: cover;
    }

    h1 {
        font-size: 5vw;
    }
    
    p {
        font-size: 4vw;
        padding-right: 5%;
        padding-left: 5%;
    }

    button {
        font-size: 3vw;
    }
}
